html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.banner {
  position: relative;
  max-height: 500px;
  margin: 0;
  padding: .3rem 1rem;
}

.banner-content {
  padding: 0 1rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 100%;
  max-width: 50em;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

h2 {
  font-size: 4rem;
  background-color: rgba(0, 0, 0, .5);
  color: white;
}

p {
  font-size: 2rem;
  font-style: italic;
}
